<ul class="inline-list">
  <li><h1>Issues</h1></li>
  <li><%= link_to 'New Issue', new_issue_path, class: "button radius small" %></li></ul>
      <div class="row">
        <div class="large-4 columns">
          <% @issues.each do |issue| %>

          <h2><%= issue.topic %></h2>
            <h3><%= issue.question %></h3>
              <p><%= issue.answer %></p>

          <ul class="inline-list">
            <li><%= link_to 'Show', issue %></li>
            <li><%= link_to 'Edit', edit_issue_path(issue) %></li>
            <li><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
          <% end %>
        </div>
      <!-- End Feed Entry -->
